DirectoryIndex index.html contato.php orcamento.php

Options All -Indexes


RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?dalinebolos.com.br [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html


RewriteCond %{QUERY_STRING} "script"
RewriteRule .* - [F]